<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Management System</title>
</head>
<body>
    <h1>Assignment for Quadiro Technologies</h1>
    <p>Welcome to the Car Management System</p>
</body>
</html>
